.card-img-horizontal {
    width: 11rem;
    border-radius: 0;
}

.card-info {
    align-items: center;
    justify-content: flex-start;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

.quantity-selector {
    align-items: center;
    display: flex;
    border: 2px solid var(--light-gray);
    width: max-content;
    height: 2.85rem;
}

.quantity-btn {
    border: unset;
    background: transparent;
    color: var(--dark-gray);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.quantity-btn:hover {
    color: var(--black);
}

.quantity-input {
    color: var(--dark-gray);
    width: 2rem;
    font-size: 1.25rem;
    text-align: center;
}

.cart-button {
    border: unset;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
    white-space: nowrap;
    display: inline;
}

.card-horizontal,
.cart-actions,
.final-price,
.cart-offers,
.empty-cart-cell,
.cart-recap {
    display: table-cell;
    vertical-align: middle;
}