.profile-container{
    min-height: 65vh;
}

.option-bar {
    border-bottom: 2px solid var(--primary);
}

.option-button {
    text-transform: capitalize;
    color: var(--dark-gray);
    cursor: pointer;
    flex-basis: 100%;
    text-align: center;
    padding: 8px 0;
}

.option-button.active{
    background: var(--light-gray);
    color: var(--primary);
    font-weight: 600;
}

.profile-details{
    width: 100%;
}

.profile-details tr {
    height: 2.5rem;
}

.profile-details td {
    word-break: break-all
}

.logout-btn {
    width: 100%;
}

.profile-section,
.address-section .card-horizontal {
    min-width: 100%;
}

.user-address, .profile-section{
    width: min(90vw, 35rem)
}

.action-buttons,
.address-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-btn,
.remove-btn {
    flex-basis: 100%;
    text-align: center;
}

.address-section, .profile-section {
    display: none;
}

.address-header {
    display: flex;
    justify-content: space-between;
}

aside input[type="radio"]{
    display: none;
}

.display-block{
    display: block;
}

.profile-aside input[type=radio]:checked + label {
    color: var(--secondary);
    font-weight: 700;
}

@media screen and (max-width: 740px) {
    .profile-aside {
        flex-direction: row;
        padding: 0;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .address-section {
        padding-top: 1rem;
        border-top: 1px solid var(--border-color);
    }

    .profile-section {
        padding: 1rem;
    }

    .address-title>h6 {
        font-size: 1rem;
        margin-right: 1rem;
    }

    .address-title>button {
        padding: 0.5rem;
    }
}