.address-details {
    color: var(--light-black);
}

.checkout-image {
    width: 4rem;
    height: 4rem;
}

.mini-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    right: -0.6rem;
    top: -0.5rem;
    font-size: 0.5rem;
}