.sub-header {
    background: var(--primary);
    color: var(--white-color);
    padding: 3px;
}

header {
    border-bottom: 2px solid var(--light-gray);
    padding: 1rem 2rem;
}

.header-section {
    display: flex;
    align-items: center;
    width: 50%;
}

.search-input {
    border-radius: 5px;
    border: unset;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 3rem;
    width: 100%;
    outline: none;
}

.searchbar-search-icon {
    left: 0.8rem;
}

.icon-badge {
    top: -0.7rem;
}

header,
nav {
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    position: sticky;
    width: 100%;
    z-index: 3;
}

nav {
    top: 5rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.nav-link {
    color: var(--primary);
    font-size: small;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.9rem;
    margin: 0 2px;
}

.nav-link:hover, .nav-link.active {
    background: var(--light-gray);
}

.mobile-searchbar{
    display: none;
    width: 100%;
    margin-top: 1rem;
}

@media screen and (max-width: 980px){
    .navbar-logo {
        font-size: 1.1rem;
    }
    .navbar-link {
    margin-left: 1rem;
    font-size: small;
}
    .navbar-icon-link {
        font-size: 1rem;
        padding: 0 0.5rem;
    }
}


@media screen and (max-width: 860px) {
    .mobile-searchbar.navbar-searchbar{
        display: flex;
    }

    .navbar-searchbar{
        display: none;
    }

    nav{
        top: 7.9rem
    }
}