.sub-header {
    background: var(--primary);
    color: var(--white-color);
    padding: 3px;
}

header {
    border-bottom: 2px solid var(--light-gray);
    padding: 1rem 2rem;
    height: 5rem;
}

.header-section {
    display: flex;
    align-items: center;
    width: 50%;
}

.search-input {
    border-radius: 5px;
    border: unset;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 4rem;
    width: 100%;
    outline: none;
}

.icon-badge {
    top: -0.7rem;
}

header,
nav {
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    position: sticky;
    width: 100%;
    z-index: 3;
}

nav {
    top: 5rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.nav-link {
    color: var(--primary);
    font-size: small;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}

.nav-link:hover {
    background: var(--light-gray);
}