footer {
    justify-content: space-around;
}

.footer-logo {
    align-self: center
}

.links {
    list-style: none;
}

.links>li {
    padding: 4px 0;
}

.link {
    color: var(--light-black);
    text-decoration: none;
    cursor: pointer;
}
