@import url("https://dazzle-ui-components.netlify.app/components/components.css");

:root {
    --primary: #252525;
    --discounted-price: #f53f3f;
    --card-button-hover: #f0fffb;
    --opacity-50: rgba(0, 0, 0, 0.26);
    --opacity-80: rgba(0, 0, 0, 0.8)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}